@model IEnumerable<FillPizzaShop.Models.OrderDetail>;

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName);
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCount);
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductAdditionals);
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(i => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(i => item.ProductCount)
                </td>
                <td>
                    @Html.DisplayFor(i => item.ProductAdditionals)
                </td>


                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>
